@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@370&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: rgba(242, 174, 46, 1);
    width: 100%;
    height: 150px;
}

#header-logo{
    height: 130px;
    max-width: 100%;
    padding: 10px;
}
